---
Language: Cpp
BasedOnStyle: Google
BreakInheritanceList: AfterColon
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true
KeepEmptyLinesAtTheStartOfBlocks: false
SpaceAfterCStyleCast: false
SpaceBeforeCpp11BracedList: false
TabWidth: 4
...